@page "/position"
@using ToolSeoViet.Web.Models.Seo.SearchPositon

@inject IDialogService DialogService

<MudButton OnClick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
    Dự án hiện có
</MudButton>
@code {

    private void OpenDialog()
    {
        DialogService.Show<Dialog>("Options Dialog");
    }
}

<MudText Style="font-size: 20px">Thứ Hạng Từ Khóa</MudText>

<MudTextField T="string" @bind-Text="@strDomain"
              Class="mud-secondary-text"
              Label="Dán tên miền tại đây"
              Lines="1" Variant="Variant.Outlined"
              Placeholder="Nhập mỗi tên miền 1 dòng (http://domain.com)" ValueChanged="@((e)=>@enable = !enable)">
</MudTextField>

<MudTextField T="string" @bind-Text="@key"
              Class="mud-secondary-text"
              Label="Dán từ khóa tại đây"
              Lines="3" Variant="Variant.Outlined"
              Placeholder="Nhập mỗi từ khóa một dòng"
              ValueChanged="@((e)=>@enable = !enable)" Margin="Margin.Normal">
</MudTextField>

<div style="display:flex;  justify-content: center; flex-direction: column; align-items: flex-start;">

    <MudButton Style="margin: 12px 0;" Disabled="!enable" OnClick="GetDomains" Variant="Variant.Filled" Color="Color.Primary">
        <MudText>Tải tên miền</MudText>
    </MudButton>
</div>

<MudTable Items="searchPositons" T="SearchPositonDto" Context="context" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh Style="text-align: center;">STT</MudTh>
        <MudTh Style="text-align: center;">Từ khóa</MudTh>
        <MudTh Style="text-align: center;">Ví trí mới nhất</MudTh>
        <MudTh Style="text-align: center;">Tên bài viết</MudTh>
        <MudTh Style="text-align: center;">Đường dẫn</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Name" Style="text-align: center;">@context.STT</MudTd>
        <MudTd DataLabel="Name" Style="text-align: start;">@context.Key</MudTd>
        <MudTd DataLabel="Position" Style="text-align: center;">@context.Position</MudTd>
        <MudTd DataLabel="Key" Style="text-align: center;">@context.Name</MudTd>
        <MudTd DataLabel="Href" Style="text-align: center;">@context.Href</MudTd>
    </RowTemplate>
</MudTable>

<div style="display:flex;  justify-content: center; flex-direction: column; align-items: flex-end;">
    <MudButton Style="margin-top: 16px; margin-right: 8px" Disabled="@loading" OnClick="SendKeyword" Variant="Variant.Filled" Color="Color.Primary">
        @if (@loading)
        {
            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
            <MudText Class="ms-2">Đang tìm kiếm</MudText>
        }
        else
        {
            <MudText>Tìm kiếm trong top 100</MudText>
        }
    </MudButton>
</div>